@charset "UTF-8";
/* CSS Document */
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

#navigation {
    display: block;
    float:left;
    background:#cccccc;
    color:#444444;
    width:960px;
    margin: 0 auto;
    width: auto;
}
#menu {
    list-style: none outside none;

    margin: 0;
    padding-left: 0;
}
.menu-list, .sub-menu-list {
    float: left;
display: inline;
    position: relative;
    
}
#navigation a {
    display: block;
    line-height: 50px;
    padding: 0 9px;
    text-align: center;
    text-decoration: none;
    padding: 0px 25px;
    color:#333333;
    text-align: left;
}
#navigation a:hover {
    background:#f2f2f2;
    color:#666666;

}
.sub-menu {
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 50px;
    z-index: 99999;

}

.sub-menu-list{
background:#cccccc;
}

.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}
.sub-menu a {
    height: auto;
    margin-top: 0;
    padding: 0px 10px;
    
    width: 200px;
}

#navigation .sub-menu a:hover {
   background-color:#eeeeee;
}
#navigation #menu .menu-list:hover > .sub-menu,
#navigation #menu .sub-menu-list:hover > .sub-menu {
    display: block;
}
